flask
fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
alembic
pandas
numpy
openpyxl
google-cloud-bigquery
db-dtypes
requests
aiohttp
python-dotenv
loguru
python-multipart
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
bcrypt
schedule
reportlab
beautifulsoup4
httpx
